<html>
    <title> User Profile </title>
    <body> 
                <div class="container">
                <div class="jumbotron">
                    {% for user in myarray %}
                    <h3 style="text-align: left;"><b>User Number:  </b>{{ user.userno }}</h3> <br>
                    <h3 style="text-align: left;"><b>User Name:  </b>{{ user.uname }}</h3> <br>
                    <h3 style="text-align: left;"><b>User Email ID: </b>{{ user.uemail }} </h3> <br>
                    <h3 style="text-align: left;"><b>User Company:  </b>{{ user.cid }} </h3> <br>
                    <h3 style="text-align: left;"><b>User Contact Number: </b>{{ user.ucontact }}</h3> <br>
                    {% endfor %}
                </div>
            </div>
    </body>
</html>

