<div class="container my-3">
    <table id="user_table" class="table table-striped container">
            <thead>
                <tr>
                    <th>User No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Contact</th>             
                    <th>Action</th>
                    <th>Action</th>       
                </tr>
            </thead>
            <tbody> 
                {% for data in arr %}
                <tr>
                    <td>{{ data.userno }}</td>
                    <td>{{ data.uname }}</td>
                    <td>{{ data.uemail }}</td>
                    <td><a href="../controller/companyactions.php?loadcid={{data.cid}}"><b>{{ data.cid }}</b></a></td>
                    <td>{{ data.ucontact }}</td>
                    <td><a href="../controller/useractions.php?updateuserid={{data.userno}}"><b>Update</b></a></td>
                    <td><a href="../controller/useractions.php?deleteuserid={{data.userno}}"><b>Delete</b></a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>








